@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after body {
  max-width: 100%;
}

body {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  width: 1440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}
.nav-link {
  list-style-type: none;
}
.nav-link > a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.about-img {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.about-desc {
  justify-content: center;
  width: 90%;
  margin: auto;
  text-align: center;
}
.about-desc > button {
  width: 60%;
  padding: 15px;
  margin-top: 15px;
  border-radius: 30px;
  border: 1px solid hsl(198, 60%, 50%);
  background-color: hsl(198, 60%, 50%);
  color: white;
}
h2,
h3,
button,
a {
  font-family: "Raleway", sans-serif;
}
@media screen and (max-width: 450px) {
  body {
    padding: 0;
    margin: auto;
    background-color: hsl(218, 28%, 13%);
    width: 375px;
    overflow-x: hidden;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-bottom: 200px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin: 0;
    width: 100%;
    background-color: hsl(218, 28%, 13%);
  }

  div.logo {
    width: 40%;
  }
  .navbar {
    width: 50%;
  }
  .navbar > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  div.about-img{
      width: 90%;
      height: 50%vh;
  }

  section.services {
    margin: 90px auto;
    width: 90%;
  }
  .services div {
    margin-top: 50px;
  }
  .services > div img {
    display: flex;
    width: 15%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .services > div h3,
  p {
    text-align: center;
  }
  .description > div img {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
  }

  .direction {
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 2px solid hsl(176, 68%, 64%);
  }
  .direct {
    background-color: hsl(176, 68%, 64%);
    display: inline;
    border-radius: 50%;
    padding: 2px 5px;
    color: rgb(66, 63, 63);
    border-radius: 50%;
    margin-left: 5px;
  }
  .quote {
    color: hsl(176, 68%, 64%);
  }
  section.getaccess{
      display: flex;
      justify-content: center;

  }
  form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
  }
  form>input{
      padding: 20px 0px;
  }
  div.review-img {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
  }
  div.socialMedia{
      gap: 15px;
  }
  
}

footer {
  width: 100%;
  background-color: hsl(216, 53%, 9%);
  padding: 300px 0 50px 50px;
  margin: 0;
}
.footerlogo {
  margin-bottom: 30px;
}
.location {
  display: flex;
  align-items: baseline;
  gap: 30px;
  margin: 0;
}
.location > p {
  text-align: left;
  width: 50%;
}

.contact {
  display: flex;
  align-items: center;
  gap: 30px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 8px 0;
}

.review {
  display: flex;
  flex-direction: column;
  width: 85%;

  border-radius: 5px solid hsl(219, 30%, 18%);
  margin: 80px auto;
}
.review > div {
  background-color: hsl(219, 30%, 18%);
  padding: 20px;
  margin-bottom: 30px;
}


.review-img img {
  width: 13%;
  height: 13%;
  border-radius: 50%;
}
.review-img p {
  margin: 0;
  text-align: left;
}
input {
  border-radius: 30px;
  border: 1px solid hsl(198, 60%, 50%);
  background-color: hsl(198, 60%, 50%);
  width: 87%;
  padding: 20px 0;
  margin: 20px auto;

  color: white;
}

#email {
  background-color: white;
  border: 1px solid white;
  color: black;
  padding-left: 30px;
  width: 78%;
}
div.signup {
  position: absolute;
  background-color: hsl(217, 28%, 15%);
  padding: 20px;
  width: 80%;

  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
section.description {
  width: 90%;
  margin: auto;
}
div.desc {
  text-align: left;
}
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;

  column-gap: 15px;
}
.socialMedia a {
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
}

div.sub-review {
  border-radius: 5px;
  padding: 30px;
}
@media screen and (min-width: 450px) {
  body {
    width: 1440px;
  }
  .container {
    margin-bottom: 200px;
  }
  .about-desc {
    justify-content: center;
    width: 35%;
    margin: auto;
    text-align: center;
  }
  .about-desc > button {
    width: 50%;
    padding: 12px;
  }

  section.review {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
  }

  section.services {
    display: grid;
    grid-template-columns: 380px 380px;
    grid-template-rows: 300px 300px;
    gap: 50px;
    justify-content: center;
    margin: 70px auto;
    padding-top: 30px;
    align-self: center;
    text-align: center;
  }
  img.service-icon {
    width: 100px;

    height: 90px;
  }
  section.description {
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 400px;
    column-gap: 80px;
    align-items: center;
    margin: 50px auto;
  }
  div.desc > h2 {
    width: 250px;
  }
  section.getaccess {
    display: flex;
    justify-content: center;
  }
  div.signup {
    width: 60%;
    text-align: center;
    padding: 20px 130px;
    border-radius: 10px;
  }
  form {
    display: grid;
    grid-template-columns: 500px 250px;
  }
  div.review-img {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: max-content;
    padding-top: 300px;
  }
  .footerlogo {
    width: 100%;
  }
  .location {
    width: 30%;
  }
  li {
    padding-top: 0;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin: 0;
    width: 100%;
    background-color: hsl(218, 28%, 13%);
  }
  div.logo {
    width: 50%;
  }
  .navbar {
    width: 30%;
  }
  .navbar > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
